# Configuration file

baits {
    # The chance (per tick) that an ocelot bait will result in an ocelot spawn. [range: 1.0E-4 ~ 1.0, default: 5.0E-4]
    S:"Ocelot Bait Chance"=5.0E-4

    # The chance (per tick) that a wolf bait will result in a wolf spawn. [range: 1.0E-4 ~ 1.0, default: 5.0E-4]
    S:"Wolf Bait Chance"=5.0E-4
}


blocks {
    # Set this to false to disable the recipe for the compressed dust. [default: true]
    B:"Compressed Dust"=true

    # If set to false, the recipe for the heavy sieve will be disabled. [default: true]
    B:"Heavy Sieve"=true

    # If set to false, the recipe for the ocelot bait will be disabled. [default: true]
    B:"Ocelot Bait"=true

    # If set to false, the recipe for the wolf bait will be disabled. [default: true]
    B:"Wolf Bait"=true

    # If set to false, the recipe for the wooden crucible will be disabled. [default: true]
    B:"Wooden Crucible"=true
}


general {
    # Set this to true if you want to allow automation of the heavy sieve through fake players (i.e. Autonomous Activator) [default: false]
    B:"Allow Heavy Sieve Automation"=false

    # The chance for the chicken stick to make sounds when breaking blocks. Set to 0 to disable. [range: 0.0 ~ 1.0, default: 0.2]
    S:"Chicken Stick Sound Chance"=0.2

    # The sound names the chicken stick will randomly play. [default: [mob.chicken.say], [mob.chicken.hurt], [mob.chicken.plop], [mob.chicken.step]]
    S:"Chicken Stick Sounds" <
        mob.chicken.say
        mob.chicken.hurt
        mob.chicken.plop
        mob.chicken.step
     >

    # The chance for the chicken stick to spawn a chicken. Set to 0 to disable. [range: 0.0 ~ 1.0, default: 0.008]
    S:"Chicken Stick Spawn Chance"=0.008

    # The multiplier applied to the Compressed Crook's durability (based on the normal wooden crook) [range: 0.1 ~ 10.0, default: 2.0]
    S:"Compressed Crook Durability Multiplier"=2.0

    # The multiplier applied to the Compressed Crook's speed (based on the normal wooden crook) [range: 0.1 ~ 10.0, default: 4.0]
    S:"Compressed Crook Speed Multiplier"=4.0

    # Format: Username=ItemName, Username can be * to affect all users [default: ]
    S:"Custom Chicken Stick Names" <
     >

    # Set this to true to enable easy-mode, which disables the compressed hammers and makes compressed smashables work for normal hammers instead. [default: false]
    B:"Easy Mode"=false

    # The speed at which the wooden crucible extracts water. 0.1 is equivalent to a torch below a crucible, 0.3 is equivalent to fire below a crucible. [range: 1 ~ 10, default: 1]
    I:"Wooden Crucible Speed"=1
}


items {
    # If set to false, the recipe for the compressed crook will be disabled. [default: true]
    B:"Compressed Crook"=true

    # If set to false, the recipe for the compressed diamond hammer will be disabled. [default: true]
    B:"Compressed Diamond Hammer"=true

    # If set to false, the recipe for the compressed gold hammer will be disabled. [default: true]
    B:"Compressed Gold Hammer"=true

    # If set to false, the recipe for the compressed iron hammer will be disabled. [default: true]
    B:"Compressed Iron Hammer"=true

    # If set to false, the recipe for the compressed stone hammer will be disabled. [default: true]
    B:"Compressed Stone Hammer"=true

    # If set to false, the recipe for the compressed wooden hammer will be disabled. [default: true]
    B:"Compressed Wooden Hammer"=true
}


registries {
    # Here you can map normal siftables to heavy siftable blocks to automatically generate rewards for them based on ExNihilo's registry. Format: modid:name:meta=modid:name:meta:rarityMultiplier:amountMultiplier [default: [ExtraUtilities:cobblestone_compressed:8=minecraft:dirt:0:1:5], [ExtraUtilities:cobblestone_compressed:12=minecraft:gravel:0:1:5], [ExtraUtilities:cobblestone_compressed:14=minecraft:sand:0:1:5], [excompressum:compressed_dust=exnihilo:dust:0:1:5]]
    S:"Generate Heavy Siftables" <
        ExtraUtilities:cobblestone_compressed:8=minecraft:dirt:0:1:5
        ExtraUtilities:cobblestone_compressed:12=minecraft:gravel:0:1:5
        ExtraUtilities:cobblestone_compressed:14=minecraft:sand:0:1:5
        excompressum:compressed_dust=exnihilo:dust:0:1:5
     >

    # Here you can add additional siftables for the heavy sieve. Format: modid:name:meta=modid:name:meta:rarity [default: ]
    S:"Heavy Siftables" <
     >

    # Here you can add additional smashables for the compressed hammers. Format: modid:name:meta=stackSize:modid:name:meta:chance:luckMultiplier [default: [ExtraUtilities:cobblestone_compressed:0=9:minecraft:gravel:0:1:0], [ExtraUtilities:cobblestone_compressed:12=9:minecraft:sand:0:1:0], [ExtraUtilities:cobblestone_compressed:14=9:exnihilo:dust:0:1:0]]
    S:Smashables <
        ExtraUtilities:cobblestone_compressed:0=9:minecraft:gravel:0:1:0
        ExtraUtilities:cobblestone_compressed:12=9:minecraft:sand:0:1:0
        ExtraUtilities:cobblestone_compressed:14=9:exnihilo:dust:0:1:0
     >

    # Here you can add additional blocks t he chicken stick will be able to break. Format: modid:name:meta [default: [minecraft:cobblestone], [minecraft:gravel], [minecraft:sand]]
    S:"Valid Chicken Stick Blocks" <
        minecraft:cobblestone
        minecraft:gravel
        minecraft:sand
     >

    # Here you can specify additional blocks and items that will melt into water in a wooden crucible. Format: modid:name:meta=amount:fluidName:appearanceModID:appareanceBlock:appearanceMeta, modid can be ore for OreDictionary [default: [ore:treeSapling=100:water:minecraft:leaves:0], [ore:treeLeaves=250:water:minecraft:leaves:0], [minecraft:apple=50:water:minecraft:leaves:0], [minecraft:cactus=250:water:minecraft:cactus:0], [ore:listAllfruit=50:water:minecraft:leaves:0]]
    S:"Wooden Meltables" <
        ore:treeSapling=100:water:minecraft:leaves:0
        ore:treeLeaves=250:water:minecraft:leaves:0
        minecraft:apple=50:water:minecraft:leaves:0
        minecraft:cactus=250:water:minecraft:cactus:0
        ore:listAllfruit=50:water:minecraft:leaves:0
     >
}


