# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=1b55ed43-66a6-4aab-951d-c4be3300cfaf

    # Set to true to disable all reporting
    B:opt-out=false
}


